html{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(129, 222, 238);
    color: black;
     text-align: justify;
}
h1, h2, h3, h4, h5, h6, legend{
    font-size: 150%
}
header{
    background-color: rgb(245, 238, 230);
    padding: 2%;
}


.Conte1{
 display: flex;
 flex-direction: row;
 justify-content: left;
}

.Conte2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    
}
.Conte2 a{
    padding: 12px;
}
.Conte2 a:hover{
    padding: 12px;
    background-color: rgb(96, 215, 236);
    border-radius: 5px
}
.Dat1{
    text-align: left;
}
.Ima1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.Col1{
    background-color:honeydew;
}
