html {
    font-size: 65.2%;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    color: black;
}

header{
    position: relative;
    background-color: rgb(238, 105, 91);
    padding-bottom:7% ;
}

.item-home a{
    margin: 2%;
    float: left;
    margin-left: 4%;
    margin-right: 1%;
}

.item-home h1{
    float: left;
    text-align: center;
    margin-top: 2.6%;
    margin-right: 4%;
    
}

.nav-principal a{
    text-transform: uppercase;
    float: right;
    margin-left: 4%;
    margin-right: 4%;
    text-decoration: none;
    font-size: 170%;
}

.color-nav a{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1%;
    border-radius: 25%;
}

.color-nav a:hover{
    background-color: rgb(30, 29, 29);
    padding: 1%;
    border-radius: 30%;
}

.titule{
    padding-top: 2%;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
